.input {
    display: block;
    background: #f4f7fe;
    padding: 12px;
    border-radius: 12px;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    font-weight: 500;
    max-width: 320px;
    width: 100%;
}
