.wrapper {
    width: 290px;
    height: 100vh;
    background: #fff;
}
.logo {
    height: 130px;
    border-bottom: 1px solid #f4f7fe;
    &__title {
        text-align: center;
        display: block;
        line-height: 130px;
        font-size: 26px;
        color: #2b3674;
        font-weight: 700;
    }
}
.nav {
    padding: 30px;
    &__item {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    &__link {
        display: block;
        position: relative;
        font-size: 16px;
        line-height: 30px;
        color: #a3aed0;
        font-weight: 500;
        padding-left: 30px;
        &:after {
            opacity: 0;
            content: " ";
            position: absolute;
            top: 0;
            right: -30px;
            height: 100%;
            width: 4px;
            border-radius: 4px;
            background: #4318ff;
        }
        &:hover,
        &_active {
            &:after {
                opacity: 1;
            }
            font-weight: 700;
            color: #2b3674;
            & span svg path {
                fill: #4318ff;
            }
        }
    }
    &__icon {
        position: absolute;
        top: 2px;
        left: 0;
        & svg {
            width: 20px;
            height: 17px;
            & path {
                fill: #a3aed0;
            }
        }
    }
}
