$main-theme: #2b3674;

%h3-title {
    color: $main-theme;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    @media (max-width: 1024px) {
        font-size: 15px;
        line-height: 27px;
    }
}

%par-styles {
    font-size: 14px;
    line-height: 20px;
    color: #a3aed0;
}

%link-styles {
    color: #4318ff;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

%main-transition {
    transition: 0.3s ease-in-out;
}

%main-block {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: fit-content;
    background: #fff;
    padding: 21px;
    border-radius: 20px;
    position: relative;

    @media (max-width: 1024px) {
        padding: 12px 16px;
    }
    @media (max-width: 425px) {
        width: 100%;
    }
}
