$main-theme: #2b3674;

%h3-title {
    color: $main-theme;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    @media (max-width: 1024px) {
        font-size: 15px;
        line-height: 27px;
    }
}

%main-transition {
    transition: 0.3s ease-in-out;
}
