@import "_reset.scss";
@import "_fonts.scss";
@import "_styles.scss";

body,
html {
    background: #f4f7fe;
    font-family: "DMSans";
    overflow-x: hidden;
}
.body {
    &__wrapper {
        display: flex;
    }
}
.main {
    margin-left: 290px;
    width: 100%;
    padding: 45px 30px;
    @media (max-width: 1024px) {
        padding: 20px;
    }
    &__title {
        font-size: 34px;
        line-height: 42px;
        color: $main-theme;
        font-weight: 700;
        margin-bottom: 20px;
        &::first-letter {
            text-transform: uppercase;
        }
        @media (max-width: 1024px) {
            font-size: 26px;
            line-height: 32px;
        }
    }
    @media (max-width: 1024px) {
        margin-left: 190px;
    }
    @media (max-width: 768px) {
        margin-left: 60px;
    }
}

.breadcrumbs {
    &__item {
        font-size: 34px;
        line-height: 42px;
        color: $main-theme;
        font-weight: 700;
        margin-bottom: 20px;
        @media (max-width: 1024px) {
            font-size: 26px;
            line-height: 32px;
        }
    }
}

.marginCenter {
    margin: 0px auto;
}
.marginBottom {
    margin-bottom: 20px;
}
.block {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: fit-content;
    background: #fff;
    padding: 21px;
    border-radius: 20px;
    position: relative;

    @media (max-width: 1024px) {
        padding: 12px 16px;
    }
    @media (max-width: 425px) {
        width: 100%;
    }
}
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    &__active {
        display: block;
    }
    &__block {
        background: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 30px;
        padding: 20px;
        width: calc(100% - 40px);
        max-width: 460px;
    }
    &__title {
        @extend %h3-title;
        text-align: center;
    }
    &__group {
        margin: 20px auto 0;
    }
    &__close {
        position: absolute;
        top: 20px;
        right: 24px;
        background: unset;
        font-size: 21px;
        font-weight: 700;
        color: $main-theme;
    }
    &__footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }
}
